<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title></title>
    <style></style>
    <script type="text/javascript" th:src="@{/webjars/vue/2.5.17/dist/vue.js}"></script>
</head>
<body>
<div id="app">
    {{where}}
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            where:"I am here !"
        },
        methods: {}
    });
</script>
</body>
</html>